*{box-sizing: border-box;}

html,body{
  margin: 0;
}

#centro{
border-left: 8em solid ;
border-right: 8em  solid;
border-color: #457879;
}
.primera{
  border: thin solid black;
}

.title{
  text-align: center;
  font-size: 50px;
  padding: 2%;
  margin-left: 30%;
  font-weight: bold;
  font-family: purisa;
}

/* CLEARFIX */
.title:after {
  content: "";
  display: table;
  clear: both;
}

.blanco_verde{
  color: #9ad147;
  padding: 1%;
  text-align: center;
  float: left;
}

.verde_blanco{
  color: white;
  background-color: #9ad147;
  padding: 1%;
  text-align: center;
  float: left;
}

.message{
  /* margin-left: %; */
  margin: auto;
  padding: 2%;

}

/* CLEARFIX */
.message:after {
  content: "";
  display: table;
  clear: both;
}

.message-title{
  border-radius: 10px;
  color: white;
  background-color: #233c42;
  font-size: 23px;
  font-weight: bold;
}

.message-content{
  border-radius: 10px;
  background-color: #eceadc;
  padding: 2%;
}

.message-white{
  border: thin solid black;
  background-color: white;
  width: 50%;
  padding: 1%;
}

.message-green{
  border: thin solid black;
  padding: 1%;
  background-color: #9ad147;
  width: 50%;
  margin-left: 51%;

}

.images{
  width: 30px;
}
/* CLEARFIX */
#centro:after {
  content: "";
  display: table;
  clear: both;
}
